.mid-panel {
  background-color: var(--color-white);
  max-height: 100vh;
}

.mid-panel-head {
  height: 5rem;
  display: flex;
  background-color: var(--color-secondary);
  align-items: center;
  padding-inline: 3rem;
}

.add-item-container {
  display: flex;
  margin-right: 4rem;
}

.add-item-container > span:first-child {
  scale: 1.5;
  margin-right: 1rem;
}

.add-item-container > p {
  border-right: 0.1rem solid var(--color-font-faded);
  margin-right: 1rem;
  padding-right: 1rem;
}

.add-item-container > span:first-child path,
.mark-all-container > span path {
  fill: var(--color-primary);
}

.mark-all-container {
  display: flex;
}

.mark-all-container > span {
  margin-right: 1rem;
  scale: 1.5;
}

.mid-panel-head p {
  font-size: var(--font-medium);
  color: var(--color-font-faded);
  font-weight: var(--font-bold);
}

.add-item-container,
.mark-all-container {
  cursor: pointer;
}

.add-item-container:hover p,
.mark-all-container:hover p {
  color: var(--color-primary);
}

.tab-filter-container {
  height: 8rem;
  padding-inline: 3rem;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tab-container {
  display: flex;
}

.tab {
  cursor: pointer;
  border-bottom: 0.5rem solid var(--color-white);
  margin-right: 2rem;
  font-size: var(--font-mega);
  font-weight: var(--font-bold);
  color: var(--color-font-faded);
}

.tab[data-active="true"] {
  border-bottom: 0.5rem solid var(--color-primary);
  color: var(--color-primary);
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container p {
  color: var(--color-primary);
  font-size: var(--font-large);
  margin-right: 1rem;
}

.filter-container > span {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.filter-container > span:hover {
  background-color: var(--color-background-highlight);
}

.filter-container > span path {
  fill: var(--color-primary);
}
